nav {
  text-align: center;
  background-color: rgba(47,15,14,0.93);
  height: 7vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

nav > a {
  padding: 1em;
  text-decoration: none;
  color: white;
  background-color: darkgrey;
  display: inline-block;
  margin: auto .5em;
}

nav > a:hover {
  background-color: grey;
}

nav > a.active {
  background-color: black;
}

@media (max-height: 800px) {
  nav {
    font-size: 1.5vh;
  }
}

@media (max-width: 550px) {
  nav {
    font-size: 2.5vw;
  }
}
