.add-dish-form {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5em auto;
  width: 100vw;
  background-color: antiquewhite;
}

.title {
  margin: auto 2em auto 0;
}

label {
  display: block;
  margin: .5em 0;
}

p {
  margin-top: 2em;
}

.correct-format {
  font-size: .7em;
  color: red;
}

