<header class="flex-container">
  <div class="dishes-cnt"
       [ngClass]="{'many-reservations': orderDetailsService.orderCnt > 10, 'few-reservations': orderDetailsService.orderCnt < 10}">
    Łączna liczba zarezerwowanych dań: {{orderDetailsService.orders.length}}</div>
  <div class="currency">
    <h1>Obecna waluta: {{orderDetailsService.currCurrency}}</h1>
    <button (click)="orderDetailsService.changeCurrency()" [disabled]="orderDetailsService.currCurrency === '$'">$</button>
    <button (click)="orderDetailsService.changeCurrency()" [disabled]="orderDetailsService.currCurrency === '€'">€</button>
  </div>
</header>
