* {
    margin: 0;
    padding: 0;
}

body {
    background-color: greenyellow;
}

nav {
    display: flex;
    border: 1px solid blue;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

nav > ul {
    width: 250px;
    border: 1px solid blue;
    border-radius: 10px;
    overflow: hidden;
    list-style: none;
}

a {
    text-decoration: none;
}

.bars {
    overflow: hidden;
}

.button {
    position: relative;
    display: block;
    background-color: indianred;
    padding: 1rem;
    color: white;
}

.button:not(:last-child):before {
    content: "";
    position: absolute;
    right: 1em;
    bottom: -0.75em;
    z-index: 99999;
    border-top: 0.75em solid indianred;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}

.bars {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
    background-color: rgba(10,7,87,0.93);
}

.bar:target .bars {
    max-height: 10em;
}

.bars a {
    display: block;
    color: white;
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid rgba(55,55,87,0.93);
}

.bars a:before {
    content: '';
    opacity: 0;
    transition: opacity 0.3s;
}

.bars a:hover {
    background: linear-gradient(rgba(10,7,87,0.93) 50%, rgba(47,45,87,0.93) 50%);
}

.bars a:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 1;
    border-top: 1.6rem solid transparent;
    border-left: 0.8rem solid greenyellow;
    border-bottom: 1.6rem solid transparent;
}