:host {
  background-color: rgba(11, 11, 11, 0.94);
  display: block;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgba(11, 11, 11, 0.5);
}

.currency {
  display: flex;
  justify-content: center;
}

.currency h2 {
  margin-bottom: 2em;
}

header button {
  margin: .5em;
  padding: 0 1em;
  font-size: 2em;
  border: none;
  color: white;
}

header button[disabled] {
  opacity: 0.6;
}

.many-reservations-button {
  background-color: rgba(49, 64, 160, 0.97);
}

.few-reservations-button {
  background-color: #f4511e;
}

.many-reservations-filter-bar {
  background-color: blue;
}

.few-reservations-filter-bar {
  background-color: orange;
}

.currency {
  display: block;
  text-align: center;
}

.labels {
  display: flex;
  justify-content: space-between;
}

.filters-visibility {
  text-align: center;
  background-color: rgba(11, 11, 11, 0.5);
  padding-bottom: .5em;
}

.arrow {
  cursor: pointer;
  text-align: center;
}

.pagination {
  padding: 1em;
}

.pagination > mat-form-field:not(:last-child) {
  margin-right: .5em;
}

.pagination > mat-form-field:not(:first-child) {
  margin-left: .5em;
}

img, source {
  width: 400px;
  height: 200px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(40,40,40,0.3);
}

.flex-container > div {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 2em;
  box-shadow: 0 0 2rem grey;
  background-color: white;
  color: black;
}

.desc {
  padding: 1em;
}

.categories {
  display: inline-flex;
  background-color: darkgrey;
  margin-right: .5em;
  margin-bottom: .5em;
  padding: .5em;
  border-radius: 1em;
}

.ingredients {
  list-style: none;
}

h1 {
  padding: .3em 0;
  margin: 0 auto;
}

.cuisine-and-reviews {
  display: flex;
  flex-direction: column;
}

.cuisine-and-reviews > div, ul {
  flex-basis: 50%;
}

.description {
  margin-top: 1em;
}

hr {
  margin: 1em 0;
}

.bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.price {
  color: rgba(202,12,24,0.97);
}

.orders-cnt {
  margin: 1em 0;
}

.num-of-orders {
  margin: 0 .5em;
}

.buttons-and-cnt {
  display: flex;
  flex-direction: column;
}

.few-dishes, .all-dishes-selected {
  font-size: 1.5em;
  color: red;
}

.most-expensive {
  border: .4em solid green;
}

.cheapest {
  border: .4em solid red;
}

.filters-container {
  padding: 1em;
  background-color: rgba(11, 11, 11, 0.5);
}

.filter-bar {
  border-radius: 999em;
  text-align: center;
  margin-bottom: 1em;
}

.filters {
  display: flex;
  justify-content: center;
}

.filters > div {
  padding-right: 2em;
}

.filters li {
  list-style: none;
}

.dishes-filters {
  display: flex;
  flex-direction: column;
}

.checked {
  color: orange;
}

.filter ul {
  list-style: none;
}

@media (max-width: 950px) {
  .first-li {
    display: block;
  }

  .card {
    width: 55vw;
  }

  img, source {
    width: 100%;
    height: 200px;
  }

  .pagination {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .card {
    width: 80vw;
  }

  .filters {
    flex-direction: column;
  }

  .dishes-filters {
    margin-bottom: 2em;
  }
}

@media (max-width: 450px) {
  .pagination {
    display: flex;
    flex-direction: column;
  }

  .pagination > mat-form-field:not(:last-child) {
    margin-right: 0;
  }

  .pagination > mat-form-field:not(:first-child) {
    margin-left: 0;
  }
}
