<div class="login-container">
  <h1>Zaloguj się:</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Adres-email</mat-label>
      <input matInput id="email" type="email" formControlName="email" required>
      <mat-error *ngIf="loginForm.hasError('email', 'email')">Niepoprawny adres e-mail.</mat-error>
      <mat-error *ngIf="loginForm.hasError('required', 'email')">Pole wymagane.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Hasło</mat-label>
      <input matInput id="password" type="password" formControlName="password" required>
      <mat-error *ngIf="loginForm.hasError('required', 'password')">Pole wymagane.</mat-error>
      <mat-error *ngIf="loginForm.hasError('minlength', 'password')">
        Hasło musi zawierać co najmniej 6 znaków
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary"
              type="submit"
              [disabled]="!loginForm.valid">
        Zaloguj się
      </button>
    </div>
  </form>
</div>
